# Eat Safe, Love

## Database and Jupyter Notebook Set Up

In [136]:
# Import dependencies
import pandas as pd
from pymongo import MongoClient
from pprint import pprint
# importing ObjectId from bson library
from bson.objectid import ObjectId

In [137]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [138]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [139]:
# review the collections in our new database
print(db.list_collection_names())

['establishments']

In [140]:
# assign the collection to a variable
establishments = db['establishments']

In [141]:
# Extracting the ObjectId for Penang Flavors for later use 
query = {"BusinessName":"Penang Flavours"}
fields={"_id": 1, "BusinessName":1}

#pprint(establishments.find_one(query,fields))
results = establishments.find_one(query,fields)
objInstance = results.get('_id')
print(objInstance)

646a69565a2bee04d27ba43e

### Part 3: Exploratory Analysis
Unless otherwise stated, for each question:

- Use count_documents to display the number of documents contained in the result.
- Display the first document in the results using pprint.
- Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

In [142]:
print(f"Number of documents in establishments : {establishments.count_documents({})}")

Number of documents in establishments : 38786

In [150]:
results = establishments.find_one({})

pprint(results)

{'AddressLine1': 'St Marys Church Of England Primary School',
 'AddressLine2': 'Warren Road',
 'AddressLine3': 'Folkestone',
 'AddressLine4': 'Kent',
 'BusinessName': 'St Marys COE (aided) Primary School',
 'BusinessType': 'School/college/university',
 'BusinessTypeID': 7845,
 'ChangesByServerID': 0,
 'Distance': 4591.871474174837,
 'FHRSID': 289353,
 'LocalAuthorityBusinessID': 'PI/000002468',
 'LocalAuthorityCode': '188',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'CT19 6QH',
 'RatingDate': '2016-09-13T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': 5,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('646a690d84c12bf80675bee4'),
 'geocode': {'latitude': 51.085797, 'longitude': 1.194762},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/289353',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 0}}

In [151]:
# Convert all establishments to a Pandas DataFrame
results = list(establishments.find({}))
establishment_df = pd.DataFrame(results)

# Display the number of rows in the DataFrame
print(f"Number of rows establishments dataframe : {len(establishment_df)}")

# Display the first 10 rows of the DataFrame
establishment_df.head(10)

Number of rows establishments dataframe : 38786

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,LocalAuthorityWebSite,LocalAuthorityEmailAddress,scores,SchemeType,geocode,RightToReply,Distance,NewRatingPending,meta,links
0,646a690d84c12bf80675bee4,289353.0,0.0,PI/000002468,St Marys COE (aided) Primary School,School/college/university,7845,St Marys Church Of England Primary School,Warren Road,Folkestone,...,http://www.folkestone-hythe.gov.uk,foodteam@folkestone-hythe.gov.uk,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': 1.194762, 'latitude': 51.085797}",,4591.871474,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
1,646a690d84c12bf80675bee7,289352.0,0.0,PI/000002460,The Ship,Pub/bar/nightclub,7843,23 The Stade,Folkestone,Kent,...,http://www.folkestone-hythe.gov.uk,foodteam@folkestone-hythe.gov.uk,"{'Hygiene': 5, 'Structural': 5, 'ConfidenceInM...",FHRS,"{'longitude': 1.188537, 'latitude': 51.08084}",,4591.912145,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
2,646a690d84c12bf80675bee8,1043695.0,0.0,PI/000073616,The Pavilion,Restaurant/Cafe/Canteen,1,East Cliff Pavilion,Wear Bay Road,Folkestone,...,http://www.folkestone-hythe.gov.uk,foodteam@folkestone-hythe.gov.uk,"{'Hygiene': 5, 'Structural': 5, 'ConfidenceInM...",FHRS,"{'longitude': 1.195625, 'latitude': 51.083812}",,4591.765489,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
3,646a690d84c12bf80675beeb,894592.0,0.0,PI/000074396,Docker,Retailers - other,4613,Folkestone Harbour,Harbour Approach Road,Folkestone,...,http://www.folkestone-hythe.gov.uk,foodteam@folkestone-hythe.gov.uk,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': 1.18590330311705, 'latitude': 51...",,4591.914705,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
4,646a690d84c12bf80675beec,1043701.0,0.0,PI/000076360,Pick Up Pintxos,Takeaway/sandwich shop,7844,Folkestone Harbour,Harbour Approach Road,Folkestone,...,http://www.folkestone-hythe.gov.uk,foodteam@folkestone-hythe.gov.uk,"{'Hygiene': 5, 'Structural': 5, 'ConfidenceInM...",FHRS,"{'longitude': 1.18590330311705, 'latitude': 51...",,4591.914705,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
5,646a690d84c12bf80675beed,647177.0,0.0,PI/000041489,Wear Bay Bowls Club,Pub/bar/nightclub,7843,Wear Bay Road,Folkestone,Kent,...,http://www.folkestone-hythe.gov.uk,foodteam@folkestone-hythe.gov.uk,"{'Hygiene': 5, 'Structural': 5, 'ConfidenceInM...",FHRS,"{'longitude': 1.196408, 'latitude': 51.086058}",,4591.821311,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
6,646a690d84c12bf80675beee,344689.0,0.0,PI/000002095,Folkestone Trawlers Shop,Retailers - other,4613,1 The Stade,Folkestone,Kent,...,http://www.folkestone-hythe.gov.uk,foodteam@folkestone-hythe.gov.uk,"{'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...",FHRS,"{'longitude': 1.188537, 'latitude': 51.08084}",,4591.912145,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
7,646a690d84c12bf80675beef,805703.0,0.0,PI/000073221,That Burger - Harbour Arm,Takeaway/sandwich shop,7844,Folkestone Harbour,Harbour Approach Road,Folkestone,...,http://www.folkestone-hythe.gov.uk,foodteam@folkestone-hythe.gov.uk,"{'Hygiene': 5, 'Structural': 5, 'ConfidenceInM...",FHRS,"{'longitude': 1.18590330311705, 'latitude': 51...",,4591.914705,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
8,646a690d84c12bf80675bef0,1071930.0,0.0,PI/000076531,The Club Hut,Pub/bar/nightclub,7843,Folkestone Harbour,Harbour Approach Road,Folkestone,...,http://www.folkestone-hythe.gov.uk,foodteam@folkestone-hythe.gov.uk,"{'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...",FHRS,"{'longitude': 1.18590330311705, 'latitude': 51...",,4591.914705,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
9,646a690d84c12bf80675bef1,1068284.0,0.0,PI/000076532,The Tea Caddy,Mobile caterer,7846,Folkestone Harbour,Harbour Approach Road,Folkestone,...,http://www.folkestone-hythe.gov.uk,foodteam@folkestone-hythe.gov.uk,"{'Hygiene': 5, 'Structural': 5, 'ConfidenceInM...",FHRS,"{'longitude': 1.18590330311705, 'latitude': 51...",,4591.914705,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."

### 1. Which establishments have a hygiene score equal to 20?

In [152]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene' : 20 }

# Display the number of documents in the result
results = establishments.find(query).explain().get("executionStats").get("nReturned")

print(f'Number of establishments with a hygiene score of 20 : {results}')

Number of establishments with a hygiene score of 20 : 41

In [153]:
# Use count_documents to display the number of documents in the result
result = establishments.count_documents(query)
print(f'Number of establishments with a hygiene score of 20 : {result}')

Number of establishments with a hygiene score of 20 : 41

In [158]:
# Display the first document in the results using pprint

results = list(establishments.find(query))

pprint(results[0])

{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('646a690e84c12bf80675da18'),
 'geocode': {'latitude': 50.769705, 'longitude': 0.27694},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [159]:
#extracting latitude, longitude and hygiene score in 3 separate functions

def get_latitude(geocode):
    return geocode.get('latitude')

def get_longitude(geocode):
    return geocode.get('longitude')

def get_hygiene_score(row):
    hygiene_score = row.get('Hygiene')
    return hygiene_score

In [160]:
# Convert the result to a Pandas DataFrame

hygiene20_df = pd.DataFrame(results)

# Display the number of rows in the DataFrame
print(f"Number of rows in the dataframe for hygiene score equal to 20 : {len(hygiene20_df)}")

#dataframe cleaning
hygiene20_df['latitude'] = hygiene20_df['geocode'].apply(get_latitude)
hygiene20_df['longitude'] = hygiene20_df['geocode'].apply(get_longitude)
hygiene20_df['Hygiene'] = hygiene20_df['scores'].apply(get_hygiene_score)

#filtering the columns
hygiene20_clean_df = hygiene20_df[['BusinessName','RatingValue','Hygiene','longitude','latitude']]


# Display the first 10 rows of the DataFrame
hygiene20_clean_df.head(10)

Number of rows in the dataframe for hygiene score equal to 20 : 41

                BusinessName  RatingValue  Hygiene  longitude   latitude
0        The Chase Rest Home            0       20   0.276940  50.769705
1                 Brenalwood            0       20   1.278721  51.857536
2              Melrose Hotel            0       20   1.159270  51.789429
3              Seaford Pizza            1       20   0.102020  50.770885
4              Golden Palace            1       20   0.101446  50.770724
5           Ashby's Butchers            0       20   0.736349  51.541448
6  South Sea Express Cuisine            0       20   0.712167  51.535007
7              Golden Palace            0       20   0.602364  51.591515
8             The Tulip Tree            1       20   0.146450  51.185947
9                      F & S            0       20   0.462307  51.570050

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [161]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {'LocalAuthorityName' : {'$regex': 'London'},
        'RatingValue': {'$gte': 4}}

# Use count_documents to display the number of documents in the result
rating_val_gt_4 = establishments.count_documents(query)
print(f'Number of establishments with London having a Rating greater than or equal to 4 : {rating_val_gt_4}')


# Display the first document in the results using pprint
document_display = list(establishments.find(query))
print('The first document in the result:')
pprint(document_display[0])

Number of establishments with London having a Rating greater than or equal to 4 : 33
The first document in the result:
{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4627.439467780196,
 'FHRSID': 621707,
 'LocalAuthorityBusinessID': 'PI/000025307',
 'LocalAuthorityCode': '508',
 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
 'LocalAuthorityName': 'City of London Corporation',
 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('646a690e84c12bf80675f433'),
 'geocode': {'latitude': 51.369321, 'longitude': 0.508551},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}

In [162]:
# Convert the result to a Pandas DataFrame
london_establishments_df = pd.DataFrame(document_display)

# Display the number of rows in the DataFrame
print(f'Number of rows : {len(london_establishments_df)}')

#dataframe cleaning
london_establishments_df['latitude'] = london_establishments_df['geocode'].apply(get_latitude)
london_establishments_df['longitude'] = london_establishments_df['geocode'].apply(get_longitude)
london_establishments_df['Hygiene'] = london_establishments_df['scores'].apply(get_hygiene_score)

#filtering the columns
london_est_df_clean = london_establishments_df[['BusinessName','RatingValue','Hygiene','longitude','latitude']]


# Display the first 10 rows of the DataFrame
london_est_df_clean.head(10)

Number of rows : 33

,BusinessName,RatingValue,Hygiene,longitude,latitude
0,Charlie's,4,5,0.508551,51.369321
1,Mv City Cruises Erasmus,5,0,0.249256,51.123623
2,Benfleet Motor Yacht Club,4,0,0.561954,51.543831
3,Coombs Catering t/a The Lock and Key,5,0,0.346337,51.464066
4,Tilbury Seafarers Centre,5,0,0.346325,51.464078
5,Mv Valulla,5,0,0.287555,51.504071
6,Tereza Joanne,5,0,0.069286,51.501121
7,Brick Lane Brews,4,10,0.048006,51.503733
8,The Nuance Group (UK) Limited,5,0,0.047966,51.504112
9,WH Smith,5,0,0.047966,51.504112

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [164]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

#get the coordinates of Penang Flavors using its _id which was determined while inserting record into db:
query = {"_id":objInstance}
fields = {'geocode.longitude' : 1, 'geocode.latitude' : 1}
results = establishments.find(query,fields)

for result in results:
    lat=result.get('geocode').get('latitude')
    lat_from = result.get('geocode').get('latitude') - 0.01
    lat_to = result.get('geocode').get('latitude') + 0.01
    lon=result.get('geocode').get('longitude')
    lon_from=result.get('geocode').get('longitude') - 0.01
    lon_to=result.get('geocode').get('longitude') + 0.01
    
    match_query = {
                    '$match': 
                            {
                               "_id": { '$ne' : objInstance },
                              'geocode.longitude': {'$gte': lon_from, '$lt': lon_to},
                              'geocode.latitude': {'$gte': lat_from, '$lt': lat_to},
                              'RatingValue': 5  
                            }
                  }
    #sort by Hygiene in descending order
    sort_values = {'$sort': { 'scores.Hygiene': 1 }}         

    # Put the pipeline together
    pipeline = [match_query, sort_values]    
    
    # Run the pipeline through the aggregate method, cast the results as a list, and save the results to a variable
    pipeline_result = list(establishments.aggregate(pipeline))
    print(f'Number of restaurants with Rating value of 5 and good Hygiene score: {len(pipeline_result)}')
    limit =5

    #Print the results
    print("Top 5 establishments with Rating 5 and having a good Hygeine score : -")
    top_n = pipeline_result[0:limit] if len(pipeline_result) > limit + 1 else pipeline_result
    pprint(top_n)

Number of restaurants with Rating value of 5 and good Hygiene score: 87
Top 5 establishments with Rating 5 and having a good Hygeine score : -
[{'AddressLine1': '144 - 146 Plumstead High Street',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'AddressLine4': 'Greenwich',
  'BusinessName': 'Iceland',
  'BusinessType': 'Retailers - supermarkets/hypermarkets',
  'BusinessTypeID': 7840,
  'ChangesByServerID': 0,
  'Distance': 4646.946071297699,
  'FHRSID': 695223,
  'LocalAuthorityBusinessID': 'PI/000178842',
  'LocalAuthorityCode': '511',
  'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
  'LocalAuthorityName': 'Greenwich',
  'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'SE18 1JQ',
  'RatingDate': '2019-11-13T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('646a691084c12bf80676324a'),
  'geocode': {'latitude': 51.4871482849121, 'longitude': 0.0924199968576431},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/695223',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 5}},
 {'AddressLine1': 'Restaurant And Premises 107A Plumstead High Street',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'AddressLine4': 'Greenwich',
  'BusinessName': 'Howe and Co Fish and Chips - Van 17',
  'BusinessType': 'Mobile caterer',
  'BusinessTypeID': 7846,
  'ChangesByServerID': 0,
  'Distance': 4646.95593107927,
  'FHRSID': 1380578,
  'LocalAuthorityBusinessID': '14425',
  'LocalAuthorityCode': '511',
  'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
  'LocalAuthorityName': 'Greenwich',
  'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'SE18 1SE',
  'RatingDate': '2021-11-11T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('646a691084c12bf80676325a'),
  'geocode': {'latitude': 51.4875335693359, 'longitude': 0.0925370007753372},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/1380578',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 0}},
 {'AddressLine1': '130 - 132 Plumstead High Street',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'AddressLine4': 'Greenwich',
  'BusinessName': 'Volunteer',
  'BusinessType': 'Pub/bar/nightclub',
  'BusinessTypeID': 7843,
  'ChangesByServerID': 0,
  'Distance': 4646.965634598608,
  'FHRSID': 694609,
  'LocalAuthorityBusinessID': 'PI/000116619',
  'LocalAuthorityCode': '511',
  'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
  'LocalAuthorityName': 'Greenwich',
  'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'SE18 1JQ',
  'RatingDate': '2019-08-05T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('646a691084c12bf806763276'),
  'geocode': {'latitude': 51.4873437, 'longitude': 0.09208},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/694609',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 0}},
 {'AddressLine1': 'Plumstead Manor School Old Mill Road',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'AddressLine4': 'Greenwich',
  'BusinessName': 'Plumstead Manor Nursery',
  'BusinessType': 'Caring Premises',
  'BusinessTypeID': 5,
  'ChangesByServerID': 0,
  'Distance': 4646.9740101340385,
  'FHRSID': 695241,
  'LocalAuthorityBusinessID': 'PI/000179088',
  'LocalAuthorityCode': '511',
  'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
  'LocalAuthorityName': 'Greenwich',
  'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'SE18 1QG',
  'RatingDate': '2021-06-16T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('646a691084c12bf80676328f'),
  'geocode': {'latitude': 51.481517791748, 'longitude': 0.0859939977526665},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/695241',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 0}},
 {'AddressLine1': '35 Lakedale Road',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'AddressLine4': 'Greenwich',
  'BusinessName': 'Atlantic Fish Bar',
  'BusinessType': 'Takeaway/sandwich shop',
  'BusinessTypeID': 7844,
  'ChangesByServerID': 0,
  'Distance': 4646.974611855838,
  'FHRSID': 694478,
  'LocalAuthorityBusinessID': 'PI/000086506',
  'LocalAuthorityCode': '511',
  'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
  'LocalAuthorityName': 'Greenwich',
  'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'SE18 1PR',
  'RatingDate': '2021-06-16T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('646a691084c12bf806763291'),
  'geocode': {'latitude': 51.4867296, 'longitude': 0.0912164},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/694478',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 0}}]

In [165]:
# Convert result to Pandas DataFrame: Top 5 establishments with a rating value of 5 and sorted by lowest hygiene score

top5_nearby_establishments = pd.DataFrame(top_n)
top5_nearby_establishments

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,LocalAuthorityWebSite,LocalAuthorityEmailAddress,scores,SchemeType,geocode,RightToReply,Distance,NewRatingPending,meta,links
0,646a691084c12bf80676324a,695223,0,PI/000178842,Iceland,Retailers - supermarkets/hypermarkets,7840,144 - 146 Plumstead High Street,,Plumstead,...,http://www.royalgreenwich.gov.uk,health@royalgreenwich.gov.uk,"{'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...",FHRS,"{'longitude': 0.0924199968576431, 'latitude': ...",,4646.946071,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f..."
1,646a691084c12bf80676325a,1380578,0,14425,Howe and Co Fish and Chips - Van 17,Mobile caterer,7846,Restaurant And Premises 107A Plumstead High St...,,Plumstead,...,http://www.royalgreenwich.gov.uk,health@royalgreenwich.gov.uk,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': 0.0925370007753372, 'latitude': ...",,4646.955931,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f..."
2,646a691084c12bf806763276,694609,0,PI/000116619,Volunteer,Pub/bar/nightclub,7843,130 - 132 Plumstead High Street,,Plumstead,...,http://www.royalgreenwich.gov.uk,health@royalgreenwich.gov.uk,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': 0.09208, 'latitude': 51.4873437}",,4646.965635,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f..."
3,646a691084c12bf80676328f,695241,0,PI/000179088,Plumstead Manor Nursery,Caring Premises,5,Plumstead Manor School Old Mill Road,,Plumstead,...,http://www.royalgreenwich.gov.uk,health@royalgreenwich.gov.uk,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': 0.0859939977526665, 'latitude': ...",,4646.974010,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f..."
4,646a691084c12bf806763291,694478,0,PI/000086506,Atlantic Fish Bar,Takeaway/sandwich shop,7844,35 Lakedale Road,,Plumstead,...,http://www.royalgreenwich.gov.uk,health@royalgreenwich.gov.uk,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': 0.0912164, 'latitude': 51.4867296}",,4646.974612,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f..."

In [167]:
#dataframe cleaning
top5_nearby_establishments['latitude'] = top5_nearby_establishments['geocode'].apply(get_latitude)
top5_nearby_establishments['longitude'] = top5_nearby_establishments['geocode'].apply(get_longitude)
top5_nearby_establishments['Hygiene'] = top5_nearby_establishments['scores'].apply(get_hygiene_score)

#filtering the columns
top5_nearby_est_clean = top5_nearby_establishments[['BusinessName','RatingValue','Hygiene','longitude','latitude']]


# Display the DataFrame
print("Top 5 restaurants nearby to Penang Flavors--> ")
top5_nearby_est_clean

Top 5 restaurants nearby to Penang Flavors-->

,BusinessName,RatingValue,Hygiene,longitude,latitude
0,Iceland,5,0,0.092420,51.487148
1,Howe and Co Fish and Chips - Van 17,5,0,0.092537,51.487534
2,Volunteer,5,0,0.092080,51.487344
3,Plumstead Manor Nursery,5,0,0.085994,51.481518
4,Atlantic Fish Bar,5,0,0.091216,51.486730

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [169]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

match_query = {
                    '$match': 
                            { 'scores.Hygiene' : 0
                            }
                  }

group_query = {'$group': { '_id': {'LocalAuthorityName': '$LocalAuthorityName'}, 'count': { '$sum': 1 }}}

#sort by Hygiene in descending order
sort_values = {'$sort': { 'count': -1 }}         

# Put the pipeline together
pipeline = [match_query,group_query, sort_values]    

# Run the pipeline through the aggregate method, cast the results as a list, and save the results to a variable
pipeline_result = list(establishments.aggregate(pipeline))

limit =10

# Print the number of documents in the result
print(f'Total Number of documents with hygiene score 0 : {len(pipeline_result)}')

print('Top 10 establishments by count: ')

# Print the first 10 results
top_n = pipeline_result[0:limit] if len(pipeline_result) > limit + 1 else pipeline_result
pprint(top_n)

Total Number of documents with hygiene score 0 : 55
Top 10 establishments by count:
[{'_id': {'LocalAuthorityName': 'Thanet'}, 'count': 1130},
 {'_id': {'LocalAuthorityName': 'Greenwich'}, 'count': 882},
 {'_id': {'LocalAuthorityName': 'Maidstone'}, 'count': 713},
 {'_id': {'LocalAuthorityName': 'Newham'}, 'count': 711},
 {'_id': {'LocalAuthorityName': 'Swale'}, 'count': 686},
 {'_id': {'LocalAuthorityName': 'Chelmsford'}, 'count': 680},
 {'_id': {'LocalAuthorityName': 'Medway'}, 'count': 672},
 {'_id': {'LocalAuthorityName': 'Bexley'}, 'count': 607},
 {'_id': {'LocalAuthorityName': 'Southend-On-Sea'}, 'count': 586},
 {'_id': {'LocalAuthorityName': 'Tendring'}, 'count': 542}]

In [173]:
#function to fetch the localauthorityname from the _id field
def get_local_auth_name(x):
    return x.get('LocalAuthorityName')

local_auth_df = pd.DataFrame(pipeline_result)
local_auth_df['LocalAuthorityName'] = local_auth_df['_id'].apply(get_local_auth_name)

local_auth_df.head()

                                   _id  count LocalAuthorityName
0     {'LocalAuthorityName': 'Thanet'}   1130             Thanet
1  {'LocalAuthorityName': 'Greenwich'}    882          Greenwich
2  {'LocalAuthorityName': 'Maidstone'}    713          Maidstone
3     {'LocalAuthorityName': 'Newham'}    711             Newham
4      {'LocalAuthorityName': 'Swale'}    686              Swale

In [174]:
#rearranging columns
local_auth_df = local_auth_df[['LocalAuthorityName','count']]
# Display the first 5 rows of the DataFrame
local_auth_df.head()

  LocalAuthorityName  count
0             Thanet   1130
1          Greenwich    882
2          Maidstone    713
3             Newham    711
4              Swale    686

### Extracting all establishments having 'London' as Local Authority Name - Map plots for later

In [175]:
#fetching all the establishments having London as their Local Authority
query = {'LocalAuthorityName' : {'$regex': 'London'}}

london_est_results = list(establishments.find(query))

In [176]:
#Converting to a dataframe
london_est_df = pd.DataFrame(london_est_results)

#reading the columns
london_est_df.columns

Index(['_id', 'FHRSID', 'ChangesByServerID', 'LocalAuthorityBusinessID',
       'BusinessName', 'BusinessType', 'BusinessTypeID', 'AddressLine1',
       'AddressLine2', 'AddressLine3', 'AddressLine4', 'PostCode', 'Phone',
       'RatingValue', 'RatingKey', 'RatingDate', 'LocalAuthorityCode',
       'LocalAuthorityName', 'LocalAuthorityWebSite',
       'LocalAuthorityEmailAddress', 'scores', 'SchemeType', 'geocode',
       'RightToReply', 'Distance', 'NewRatingPending', 'meta', 'links'],
      dtype='object')

In [177]:
#normalizing json for extracting the coordinates into a dataframe
df_coordinates = pd.json_normalize(london_est_df['geocode']) 

#normalizing json for extracting the scores into a dataframe
df_scores = pd.json_normalize(london_est_df['scores'])

#creating a dataframe that contains Rating value and date along with Business name
df_rating = london_est_df[['BusinessName','RatingValue','RatingDate']]

#Merging the dataframes
df_rating = pd.merge(df_rating,df_scores,left_index=True,right_index=True,how='inner')
df_rating = pd.merge(df_rating,df_coordinates,left_index=True,right_index=True,how='inner')

#displaying the dataframe
df_rating.head()

,BusinessName,RatingValue,RatingDate,Hygiene,Structural,ConfidenceInManagement,longitude,latitude
0,Charlie's,4.0,2021-10-18T00:00:00,5.0,10.0,5.0,0.508551,51.369321
1,Mv City Cruises Erasmus,5.0,2021-05-14T00:00:00,0.0,5.0,0.0,0.249256,51.123623
2,Benfleet Motor Yacht Club,4.0,2018-11-02T00:00:00,0.0,0.0,10.0,0.561954,51.543831
3,Gourmet Kitchen,3.0,2022-05-05T00:00:00,5.0,10.0,10.0,0.459637,51.510066
4,Coombs Catering t/a The Lock and Key,5.0,2020-12-04T00:00:00,0.0,5.0,0.0,0.346337,51.464066

In [178]:
#writing the dataframe into a csv to be used for the map plot in London_Ratings_Map_plots.ipynb. 
df_rating.to_csv('london_ratings.csv',index=False)

### Extracting all establishments data into a dataframe and cleaning it for map plots

In [179]:
establishment_clean_df = establishment_df.dropna()

In [180]:
establishment_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34694 entries, 0 to 38784
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   _id                         34694 non-null  object
 1   FHRSID                      34694 non-null  float64
 2   ChangesByServerID           34694 non-null  float64
 3   LocalAuthorityBusinessID    34694 non-null  object
 4   BusinessName                34694 non-null  object
 5   BusinessType                34694 non-null  object
 6   BusinessTypeID              34694 non-null  int64
 7   AddressLine1                34694 non-null  object
 8   AddressLine2                34694 non-null  object
 9   AddressLine3                34694 non-null  object
 10  AddressLine4                34694 non-null  object
 11  PostCode                    34694 non-null  object
 12  Phone                       34694 non-null  object
 13  RatingValue                 34694 non-null  float64
 14  RatingKey                   34694 non-null  object
 15  RatingDate                  34694 non-null  object
 16  LocalAuthorityCode          34694 non-null  object
 17  LocalAuthorityName          34694 non-null  object
 18  LocalAuthorityWebSite       34694 non-null  object
 19  LocalAuthorityEmailAddress  34694 non-null  object
 20  scores                      34694 non-null  object
 21  SchemeType                  34694 non-null  object
 22  geocode                     34694 non-null  object
 23  RightToReply                34694 non-null  object
 24  Distance                    34694 non-null  float64
 25  NewRatingPending            34694 non-null  bool
 26  meta                        34694 non-null  object
 27  links                       34694 non-null  object
dtypes: bool(1), float64(4), int64(1), object(22)
memory usage: 7.4+ MB

In [181]:
len(establishment_clean_df)

34694

In [182]:
#normalizing json for extracting the coordinates into a dataframe
all_est_coordinates_df = pd.json_normalize(establishment_df['geocode']) 

#normalizing json for extracting the scores into a dataframe
all_est_scores_df = pd.json_normalize(establishment_df['scores'])

#creating a dataframe that contains Rating value and date along with Business name
all_est_rating_df = establishment_df[['BusinessName','RatingValue','RatingDate']]

#Merging the dataframes
all_est_rating_df = pd.merge(all_est_rating_df,all_est_scores_df,left_index=True,right_index=True,how='inner')
all_est_rating_df = pd.merge(all_est_rating_df,all_est_coordinates_df,left_index=True,right_index=True,how='inner')

#displaying the dataframe
all_est_rating_df.head()

,BusinessName,RatingValue,RatingDate,Hygiene,Structural,ConfidenceInManagement,longitude,latitude
0,St Marys COE (aided) Primary School,5.0,2016-09-13T00:00:00,0,0,0,1.194762,51.085797
1,The Ship,5.0,2015-08-27T00:00:00,5,5,5,1.188537,51.080840
2,The Pavilion,5.0,2018-04-04T00:00:00,5,5,5,1.195625,51.083812
3,Docker,5.0,2018-04-18T00:00:00,0,0,5,1.185903,51.078352
4,Pick Up Pintxos,5.0,2018-04-18T00:00:00,5,5,5,1.185903,51.078352

In [183]:
#writing the dataframe into a csv to be used for the map plot in London_Ratings_Map_plots.ipynb. 
all_est_rating_df.to_csv('all_establishments_rating.csv',index=False)

In [184]:
mongo.close()